body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:12px;
  width:970px;
  height:488px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:488px;
}
#u1 {
  position:absolute;
  left:2px;
  top:236px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:108px;
  width:970px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:953px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:970px;
  height:1px;
}
#u3 {
  position:absolute;
  left:45px;
  top:39px;
  width:40px;
  height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:117px;
  top:35px;
  width:139px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:45px;
  top:82px;
  width:151px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:787px;
  top:73px;
  width:66px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:872px;
  top:73px;
  width:66px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:23px;
  top:122px;
  width:57px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:162px;
  width:975px;
  height:195px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:46px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:46px;
}
#u14 {
  position:absolute;
  left:2px;
  top:15px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:32px;
  top:0px;
  width:46px;
  height:46px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u16 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:78px;
  top:0px;
  width:95px;
  height:46px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u18 {
  position:absolute;
  left:2px;
  top:15px;
  width:91px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:173px;
  top:0px;
  width:132px;
  height:46px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
}
#u20 {
  position:absolute;
  left:2px;
  top:15px;
  width:128px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:305px;
  top:0px;
  width:95px;
  height:46px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:46px;
}
#u22 {
  position:absolute;
  left:2px;
  top:15px;
  width:91px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:400px;
  top:0px;
  width:171px;
  height:46px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:46px;
}
#u24 {
  position:absolute;
  left:2px;
  top:15px;
  width:167px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:571px;
  top:0px;
  width:85px;
  height:46px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:46px;
}
#u26 {
  position:absolute;
  left:2px;
  top:15px;
  width:81px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:656px;
  top:0px;
  width:136px;
  height:46px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:46px;
}
#u28 {
  position:absolute;
  left:2px;
  top:15px;
  width:132px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:792px;
  top:0px;
  width:92px;
  height:46px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:46px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:884px;
  top:0px;
  width:86px;
  height:46px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u32 {
  position:absolute;
  left:2px;
  top:15px;
  width:82px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:46px;
  width:32px;
  height:36px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:32px;
  top:46px;
  width:46px;
  height:36px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:78px;
  top:46px;
  width:95px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:173px;
  top:46px;
  width:132px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:305px;
  top:46px;
  width:95px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:400px;
  top:46px;
  width:171px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:571px;
  top:46px;
  width:85px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:656px;
  top:46px;
  width:136px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:792px;
  top:46px;
  width:92px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:884px;
  top:46px;
  width:86px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:82px;
  width:32px;
  height:36px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:32px;
  top:82px;
  width:46px;
  height:36px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:78px;
  top:82px;
  width:95px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:173px;
  top:82px;
  width:132px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u60 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:305px;
  top:82px;
  width:95px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u62 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:400px;
  top:82px;
  width:171px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u64 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:571px;
  top:82px;
  width:85px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:656px;
  top:82px;
  width:136px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:792px;
  top:82px;
  width:92px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:884px;
  top:82px;
  width:86px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:118px;
  width:32px;
  height:36px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:32px;
  top:118px;
  width:46px;
  height:36px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:78px;
  top:118px;
  width:95px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:173px;
  top:118px;
  width:132px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:305px;
  top:118px;
  width:95px;
  height:36px;
  color:#FF0000;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:400px;
  top:118px;
  width:171px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u84 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:571px;
  top:118px;
  width:85px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:656px;
  top:118px;
  width:136px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u88 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:792px;
  top:118px;
  width:92px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:884px;
  top:118px;
  width:86px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:0px;
  top:154px;
  width:32px;
  height:36px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u94 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:32px;
  top:154px;
  width:46px;
  height:36px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
}
#u96 {
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:78px;
  top:154px;
  width:95px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:173px;
  top:154px;
  width:132px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
}
#u100 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:305px;
  top:154px;
  width:95px;
  height:36px;
  color:#FF9900;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:400px;
  top:154px;
  width:171px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u104 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:571px;
  top:154px;
  width:85px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u106 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:656px;
  top:154px;
  width:136px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u108 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:792px;
  top:154px;
  width:92px;
  height:36px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u110 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:884px;
  top:154px;
  width:86px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:290px;
  top:39px;
  width:40px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:330px;
  top:38px;
  width:146px;
  height:22px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u115_input:disabled {
  color:grayText;
}
#u116 {
  position:absolute;
  left:497px;
  top:39px;
  width:66px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:560px;
  top:38px;
  width:146px;
  height:22px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u118_input:disabled {
  color:grayText;
}
#u119 {
  position:absolute;
  left:90px;
  top:122px;
  width:70px;
  height:30px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:20px;
  top:174px;
  width:17px;
  height:16px;
}
#u122 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u123 {
  position:absolute;
  left:20px;
  top:210px;
  width:17px;
  height:16px;
}
#u124 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u125 {
  position:absolute;
  left:20px;
  top:248px;
  width:17px;
  height:16px;
}
#u126 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u127 {
  position:absolute;
  left:20px;
  top:280px;
  width:17px;
  height:16px;
}
#u128 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u129 {
  position:absolute;
  left:170px;
  top:122px;
  width:70px;
  height:30px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:250px;
  top:122px;
  width:70px;
  height:30px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
