body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:12px;
  width:970px;
  height:488px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:488px;
}
#u1 {
  position:absolute;
  left:2px;
  top:236px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:108px;
  width:970px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:953px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:970px;
  height:1px;
}
#u3 {
  position:absolute;
  left:45px;
  top:39px;
  width:53px;
  height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:117px;
  top:35px;
  width:189px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:45px;
  top:82px;
  width:151px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:787px;
  top:73px;
  width:66px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:872px;
  top:73px;
  width:66px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:21px;
  top:126px;
  width:57px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:88px;
  top:126px;
  width:57px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:154px;
  top:126px;
  width:57px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:162px;
  width:970px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:953px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:970px;
  height:1px;
}
#u17 {
  position:absolute;
  left:10px;
  top:168px;
  width:975px;
  height:95px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:68px;
  top:0px;
  width:64px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:132px;
  top:0px;
  width:586px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:582px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:718px;
  top:0px;
  width:252px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:248px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:30px;
  width:68px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:68px;
  top:30px;
  width:64px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:132px;
  top:30px;
  width:586px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:582px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:718px;
  top:30px;
  width:252px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:248px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:60px;
  width:68px;
  height:30px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:68px;
  top:60px;
  width:64px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:132px;
  top:60px;
  width:586px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:582px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:718px;
  top:60px;
  width:252px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:30px;
  top:176px;
  width:19px;
  height:16px;
  text-align:center;
}
#u43 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44 {
  position:absolute;
  left:30px;
  top:205px;
  width:19px;
  height:16px;
  text-align:center;
}
#u45 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  position:absolute;
  left:30px;
  top:234px;
  width:19px;
  height:16px;
  text-align:center;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
