body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:12px;
  width:970px;
  height:688px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:688px;
}
#u1 {
  position:absolute;
  left:2px;
  top:336px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:11px;
  top:151px;
  width:959px;
  height:529px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:529px;
}
#u3 {
  position:absolute;
  left:2px;
  top:256px;
  width:955px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:108px;
  width:970px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:953px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:970px;
  height:1px;
}
#u5 {
  position:absolute;
  left:21px;
  top:122px;
  width:69px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:157px;
  top:20px;
  width:743px;
  height:33px;
  font-size:28px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:33px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:21px;
  top:74px;
  width:368px;
  height:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:595px;
  top:78px;
  width:365px;
  height:16px;
  font-size:14px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
